# loading in the Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../mats/2023-nwbc-reds.csv')

# Checking data characteristics

In [3]:
df.shape

(49038, 95)

In [4]:
sorted(df.columns)

['at_bat_number',
 'attack_zone',
 'away_score',
 'away_team',
 'ax',
 'ay',
 'az',
 'babip_value',
 'balls',
 'bat_score',
 'batter',
 'batter_name',
 'bb_type',
 'break_angle_deprecated',
 'break_length_deprecated',
 'delta_home_win_exp',
 'delta_run_exp',
 'des',
 'description',
 'effective_speed',
 'estimated_ba_using_speedangle',
 'estimated_woba_using_speedangle',
 'events',
 'fielder_2',
 'fielder_2.1',
 'fielder_3',
 'fielder_4',
 'fielder_5',
 'fielder_6',
 'fielder_7',
 'fielder_8',
 'fielder_9',
 'fld_score',
 'game_date',
 'game_pk',
 'game_type',
 'game_year',
 'hc_x',
 'hc_y',
 'hit_distance_sc',
 'hit_location',
 'home_score',
 'home_team',
 'if_fielding_alignment',
 'inning',
 'inning_topbot',
 'iso_value',
 'launch_angle',
 'launch_speed',
 'launch_speed_angle',
 'of_fielding_alignment',
 'on_1b',
 'on_2b',
 'on_3b',
 'outs_when_up',
 'p_throws',
 'pfx_x',
 'pfx_z',
 'pitch_name',
 'pitch_number',
 'pitch_type',
 'pitcher',
 'pitcher.1',
 'pitcher_name',
 'plate_x',
 'plate_z',
 'post_away_score',
 'post_bat_score',
 'post_fld_score',
 'post_home_score',
 'release_extension',
 'release_pos_x',
 'release_pos_y',
 'release_pos_z',
 'release_speed',
 'release_spin_rate',
 'spin_axis',
 'spin_dir',
 'spin_rate_deprecated',
 'stand',
 'strikes',
 'sv_id',
 'swing',
 'sz_bot',
 'sz_top',
 'tfs_deprecated',
 'tfs_zulu_deprecated',
 'type',
 'umpire',
 'vx0',
 'vy0',
 'vz0',
 'woba_denom',
 'woba_value',
 'zone']

In [5]:
df.describe()

,release_speed,release_pos_x,release_pos_z,batter,pitcher,spin_dir,spin_rate_deprecated,break_angle_deprecated,break_length_deprecated,zone,...,bat_score,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,spin_axis,delta_home_win_exp,delta_run_exp,swing
count,48004.000000,48005.000000,48005.000000,49038.000000,49038.000000,0.0,0.0,0.0,0.0,48005.000000,...,49038.000000,49038.000000,49038.000000,49038.000000,49038.000000,49038.000000,47245.000000,49038.000000,47990.000000,49038.0
mean,89.489322,-0.937300,5.771255,603472.688201,617183.213487,NaN,NaN,NaN,NaN,9.072451,...,2.220604,2.222827,2.222950,2.251988,2.252111,2.222827,175.738724,0.000098,0.002370,0.0
std,6.011860,1.871269,0.470030,67092.014911,61535.933227,NaN,NaN,NaN,NaN,4.227762,...,2.540002,2.611473,2.539729,2.626396,2.555069,2.611473,72.048866,0.027262,0.242729,0.0
min,39.100000,-4.620000,1.140000,405395.000000,424144.000000,NaN,NaN,NaN,NaN,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.697000,-1.110000,0.0
25%,85.100000,-2.220000,5.530000,571657.000000,592716.000000,NaN,NaN,NaN,NaN,5.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,122.000000,0.000000,-0.066000,0.0
50%,90.300000,-1.570000,5.820000,608703.000000,641816.000000,NaN,NaN,NaN,NaN,11.000000,...,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,204.000000,0.000000,-0.017000,0.0
75%,94.300000,-0.630000,6.050000,663697.000000,665665.000000,NaN,NaN,NaN,NaN,13.000000,...,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,224.000000,0.000000,0.033000,0.0
max,103.400000,4.460000,7.530000,703715.000000,699479.000000,NaN,NaN,NaN,NaN,14.000000,...,20.000000,20.000000,15.000000,20.000000,20.000000,20.000000,360.000000,0.858000,3.354000,0.0

In [6]:
df['total_score'] = df['home_score'] + df['away_score']
df.head(1)

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,pitcher_name,batter,pitcher,events,description,...,post_fld_score,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp,attack_zone,swing,batter_name,total_score
0,FF,2022-10-05,93.8,2.39,5.44,"Hughes, Brandon",605244,676714,field_out,hit_into_play,...,15,Standard,Standard,133.0,0.0,-0.083,heart,0,"garcia, aramis",17

In [7]:
df['description'].unique()

array(['hit_into_play', 'ball', 'called_strike', 'swinging_strike',
       'foul', 'blocked_ball', 'swinging_strike_blocked', 'hit_by_pitch',
       'foul_tip', 'foul_bunt', 'missed_bunt', 'bunt_foul_tip',
       'pitchout'], dtype=object)

# feature engineering
creating new columns

In [8]:
strike_events = ['called_strike', 'swinging_strike',
       'foul', 'blocked_ball', 'swinging_strike_blocked', 'hit_by_pitch',
       'foul_tip', 'foul_bunt', 'missed_bunt', 'bunt_foul_tip']

In [9]:
df['is_strike'] = 0
df.loc[df['description'].isin(strike_events), 'is_strike'] = 1

In [10]:
df['is_strike'].value_counts()

0    24800
1    24238
Name: is_strike, dtype: int64

In [11]:
df['is_2_strikes'] = 0
df.loc[df['strikes'] == 2, 'is_2_strikes'] = 1

In [12]:
df['is_high_velo'] = 0
df.loc[df['release_speed'] > 94, 'is_high_velo'] = 1

In [13]:
strike_list =  ['called_strike', 'swinging_strike']
df['strike_heart'] = 0
df.loc[(df['description'].isin(strike_list)) & (df['attack_zone'] == 'heart'), 'strike_heart'] = 1
df.iloc[:, -4:].head(5)

   is_strike  is_2_strikes  is_high_velo  strike_heart
0          0             1             0             0
1          0             1             0             0
2          0             1             0             0
3          1             0             0             1
4          1             0             1             1

In [14]:
#converted original to a function, so we can get info on other teams if needed
def team_find(df, team):
    _df = df
    _df[f'is_{team}_pitcher'] = 0
    _df.loc[((_df['home_team'] == f'{team}')
        & (_df['inning_topbot'] == 'Top')) 
        | ((_df['away_team'] == f'{team}') 
        & (_df['inning_topbot'] == 'Bot'))
        , f'is_{team}_pitcher'] = 1
    return _df.loc[df[f'is_{team}_pitcher'] == 1, ['pitcher_name', 'pitch_name','is_strike']].groupby(['pitcher_name', 'pitch_name'], as_index = False).mean()

In [19]:
list(df['home_team'].unique())[:3]

['CIN', 'CHC', 'PIT']

# Reds pitcher data frame

In [22]:
for i in list(df['home_team'].unique())[:3]:
    print(i)
    display(team_find(df, i))

CIN

        pitcher_name       pitch_name  is_strike
0    Anderson, Chase  4-Seam Fastball   0.437500
1    Anderson, Chase         Changeup   0.578571
2    Anderson, Chase        Curveball   0.447368
3    Anderson, Chase           Cutter   0.483146
4    Anderson, Chase           Sinker   0.500000
..               ...              ...        ...
141      Zeuch, T.J.           Slider   0.388060
142     Zimmer, Kyle  4-Seam Fastball   0.400000
143     Zimmer, Kyle         Changeup   1.000000
144     Zimmer, Kyle        Curveball   1.000000
145     Zimmer, Kyle           Slider   1.000000

[146 rows x 3 columns]

CHC

         pitcher_name       pitch_name  is_strike
0     Alzolay, Adbert  4-Seam Fastball   0.500000
1     Alzolay, Adbert         Changeup   0.000000
2     Alzolay, Adbert           Cutter   0.600000
3     Alzolay, Adbert           Sinker   0.444444
4     Alzolay, Adbert           Slider   0.617647
..                ...              ...        ...
109  Wesneski, Hayden          Sweeper   0.518519
110       Wick, Rowan  4-Seam Fastball   0.465909
111       Wick, Rowan           Cutter   0.500000
112       Wick, Rowan    Knuckle Curve   0.791667
113       Wick, Rowan           Slider   0.000000

[114 rows x 3 columns]

PIT

       pitcher_name       pitch_name  is_strike
0      Alldred, Cam  4-Seam Fastball   0.000000
1      Alldred, Cam         Changeup   0.000000
2      Alldred, Cam           Sinker   0.857143
3      Alldred, Cam           Slider   0.500000
4    Banda, Anthony  4-Seam Fastball   0.857143
..              ...              ...        ...
105   Wilson, Bryse     Split-Finger   0.368421
106  Yajure, Miguel  4-Seam Fastball   0.625000
107  Yajure, Miguel         Changeup   0.500000
108  Yajure, Miguel        Curveball   0.500000
109  Yajure, Miguel           Cutter   0.142857

[110 rows x 3 columns]